html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(./fonts/Open_Sans/static/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(./fonts/Open_Sans/static/OpenSans-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url(./fonts/Open_Sans/static/OpenSans-SemiBold.ttf) format('truetype');
    font-weight: bold;
}

:root {
    --sky_blue: #2086fb;
    --warm-gray: rgba(136, 136, 136, 0.5);
    --black-60: rgba(0, 0, 0, 0.6);
    --bg-white: #ffffff;
    --clr-white: #ffffff;
    --small_title: #4a4a4a;
    --gray_50: rgba(136, 136, 136, 0.5);
    --black-five: #323232;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: rgba(136, 136, 136, 0.5);
}

.container {
    max-width: 1400px;
    margin: auto;
    text-align: center;
}

header::after {
    clear: both;
}

.burger_icon {
    display: none;
}

.header_wrapper {
    padding: 12px 40px;
}
.header_wrapper::after{
    clear: both;
    display: table;
    content: "";
}
.header_logo_box {
    float: left;
}
.header_logo_box img {
    width: 70px;
    height: auto;
    vertical-align: middle;
}
.header_nav {
    min-width: 654px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    text-align: center;
}

.header_nav li {
    font-family: OpenSans-Bold;
    font-size: 14px;
    letter-spacing: normal;
    color: var(--clr-white);
    display: inline;
    line-height: 46px;
    text-align: center;
    margin: 0 5.9px 0 9px;
    text-transform: uppercase;
}

.header_nav li:hover {
    color: var(--black-five);
}

.request_box .btn_primary {
    display: inline-block;
    padding: 12px 30px;
    margin: 48px auto 70px auto;
}

.header_wrapper .btn_primary {
    float: right;
    padding: 10px 30px;
    margin: 5px 0px;
}

.btn_primary {
    padding: 12px;
    text-align: center;
    border-radius: 22px;
    background-color: var(--sky_blue);
}

.btn--primary--text {
    font-family: OpenSans-SemiBold;
    font-size: 15px;
    text-align: center;
    color: var(--clr-white);
    text-transform: uppercase;
}

/* hero_Section */
.hero {
    width: 100%;
    max-height: 568px;
    height: 100vh;
    text-align: center;
    margin: auto;
    position: relative;
}

.hero_content_box {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    padding: 20px;
}

.hero_content_box h1 {
    font-family: OpenSans-Semibold;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: var(--clr-white);
    margin-bottom: 24px;
}

.hero_section {
    background-image: url(./images/hero-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero.hero_section::after {
    background-color: var(--black-60);
    ;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
}

.input_container {
    height: 64px;
    max-width: 936px;
    margin: auto;
    padding: 6px 5px 5px;
    border-radius: 4px;
    background-color: #ffffffb7;
}

.hero--input_bg {
    background-color: var(--bg-white);
}

.hero_input_box input {
    width: calc(100% - 68px);
    height: calc(64px - 13px);
    font-family: OpenSans-Regular;
    font-size: 16px;
    padding-left: 20px;
    border: none;
}

.search_button {
    display: inline;
    overflow: hidden;
    margin: 0px 10px;
}

.search--btn_text {
    font-size: 20px;
    color: var(--small_title);
}

.hero_input_box input:focus {
    outline: none;
}

/* Article Section Css */
.article_container {
    margin: 42px auto;
    padding: 0px 40px;
    background-color: var(--bg-white);
}

article::after {
    clear: both;
    display: table;
    content: "";
}

.article_box::after {
    clear: both;
    display: table;
    content: "";
}

.article_box {
    width: calc(100% / 4);
    min-height: 354px;
    padding: 52px 20px;
    float: left;
    text-align: center;
}

.border--right {
    border-right: solid 1px #dcdcdc;
}

.border--bottom {
    border-bottom: solid 1px #dcdcdc;
}

.article_box .article_title {
    font-family: OpenSans-Semibold;
    font-size: 18px;
    text-align: center;
    color: var(--small_title);
    margin: 24px auto 10px auto;
}

.article_box .article_para_text {
    font-family: OpenSans-Regular;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #858585;
    max-width: 260px;
    margin: auto;
}

.article_img {
    height: 80px;
    width: auto;
    margin: auto;
}

/* Request a Call section */
.request_call_section {
    position: relative;
    background-color: var(--black-five);
}

.request_box {
    text-align: center;
    overflow: auto;
    padding: 64px 0 0;
}

.request_box .request_box_heading {
    margin: auto auto 4px auto;
    font-family: OpenSans-Semibold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: var(--clr-white);
}

.request_box .req_small_text {
    font-family: OpenSans-Semibold;
    padding-top: 8px;
    font-size: 16px;
    text-align: center;
    color: var(--clr-white);
}


.copyright_wrapper {
    padding: 25px 40px;
    background-color: #252525;
}

.copyright_wrapper .copyright_text {
    font-family: OpenSans-SemiBold;
    font-size: 14px;
    color: var(--clr-white);
    text-align: center;
}

.back_to_top {
    position: absolute;
    right: 4%;
    bottom: 15%;
    width: 30px;
    height: 28px;
    border-radius: 4px;
    padding: 0px 7px;
    font-size: 24px;
    text-align: center;
    background-color: #858585;
    color: var(--bg-white);
}

@media (max-width:1200px) {

    .article_box {
        min-height: 378px;
    }

    .input_container {
        width: 80%;
        height: 54px;
    }

    .hero_input_box input {
        height: 42px;
    }

    .header_nav li {
        margin: 0px 6px;
        font-size: 12px;
    }

    .header_nav {
        width: 100%;
    }

    .header_wrapper {
        padding: 12px 14px;
    }

    .header_wrapper .btn_primary {
        padding: 10px 20px;
    }

    .btn--primary--text {
        font-size: 12px;
    }

    .hero_content_box h1 {
        font-size: 26px;
    }

    .article_container {
        padding: 0px 12px;
        max-width: 768px;
    }

    .border--bottom {
        border: none;
    }

    .border--right {
        border: none;
    }

    .article_box {
        height: 100%;
        padding: 32px 20px;
        width: calc(100% / 3);
    }

    .article_box .article_para_text {
        font-size: 12px;
        line-height: 22px;
    }
}

@media (max-width:768px) {
    header {
        background-color: var(--black-five);
    }

    .header_nav {
        display: none;
        width: 100%;
    }

    .header_nav.active {
        display: block;
        position: absolute;
        top: 68px;
        z-index: 11;
        transition: all 2s ease;
        transform: translate(-50%);
        background-color: var(--black-five);
    }

    .header_nav .header__nav__link {
        display: block;
        margin: 0px;
    }

    .header_nav .header__nav__link:hover {
        background-color: var(--sky_blue);
        color: var(--black-five);
    }

    .burger_icon {
        color: var(--clr-white);
        display: block;
        font-size: 24px;
        line-height: 50px;
        float: right;
    }

    .header_wrapper .btn_primary {
        margin: 10px 14px;
        font-size: 12px;
    }

    .article_container {
        padding: 0px 12px;
        max-width: 768px;
    }

    .article_box {
        padding: 20px;
        width: calc(100% / 2);
    }

    .border--bottom {
        border: none;
    }

    .border--right {
        border: none;
    }

    .input_container {
        width: 80%;
        height: 44px;
    }

    .hero_input_box input {
        height: 31px;
        font-size: 12px;
    }

    .search--btn_text {
        font-size: 12px;
    }

    .hero_content_box h1 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 14px;
    }
}

@media (max-width:480px) {
    .header_wrapper {
        padding: 8px 18px;
    }

    .header_logo_box img {
        height: 50px;
    }

    .header_wrapper .btn_primary {
        padding: 10px 22px;
    }

    .article_box {
        margin: auto;
        width: 100%;
        height: 100%;
        min-height: 260px;
    }

    .article_img {
        height: 60px;
    }

    .article_box::after {
        content: "";
        width: 90%;
        margin: 14px auto auto auto;
        border-bottom: 0.7px solid var(--warm-gray);
    }

    .copyright_wrapper .copyright_text {
        font-size: 8px;
    }

    .request_box .request_box_heading {
        font-size: 20px;
        line-height: 24px;
    }

    .request_box .req_small_text {
        font-size: 12px;
    }

    .hero_input_box input {
        padding-left: 0px;
    }

    .hero_input_box input::placeholder {
        font-size: 10px;
    }
}